<div v-pre>
# Interface: ValidationResult

Defined in: [packages/core/src/utils/JsonSchemaValidator.ts:27](https://github.com/mk3008/rawsql-ts/blob/efa96500610e9fc3a9f71149a5ff13c786488297/packages/core/src/utils/JsonSchemaValidator.ts#L27)

Result of JsonMapping validation

## Properties

### isValid

> **isValid**: `boolean`

Defined in: [packages/core/src/utils/JsonSchemaValidator.ts:28](https://github.com/mk3008/rawsql-ts/blob/efa96500610e9fc3a9f71149a5ff13c786488297/packages/core/src/utils/JsonSchemaValidator.ts#L28)

***

### errors

> **errors**: `string`[]

Defined in: [packages/core/src/utils/JsonSchemaValidator.ts:29](https://github.com/mk3008/rawsql-ts/blob/efa96500610e9fc3a9f71149a5ff13c786488297/packages/core/src/utils/JsonSchemaValidator.ts#L29)

***

### missingProperties

> **missingProperties**: `string`[]

Defined in: [packages/core/src/utils/JsonSchemaValidator.ts:30](https://github.com/mk3008/rawsql-ts/blob/efa96500610e9fc3a9f71149a5ff13c786488297/packages/core/src/utils/JsonSchemaValidator.ts#L30)

***

### extraProperties

> **extraProperties**: `string`[]

Defined in: [packages/core/src/utils/JsonSchemaValidator.ts:31](https://github.com/mk3008/rawsql-ts/blob/efa96500610e9fc3a9f71149a5ff13c786488297/packages/core/src/utils/JsonSchemaValidator.ts#L31)
</div>
